<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>MySpotiti</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
  <link rel="stylesheet" href="styleMain.css" />
  <script src="script.js" defer></script>
</head>

<body>
  <div id="whole-page">
    <div class="sidebar">
      <img src="/assets/images/MySpotitiLogoWithext.png" id="sidebar-logo" alt="" />
      <div id="sidebar-text">
        <div class="sidebar-text" id="sidebar-home">Home</div>
        <div class="sidebar-text" id="sidebar-discover">Discover</div>
        <div class="sidebar-text" id="sidebar-subgenre">Sub Genre</div>
        <div class="sidebar-text" id="sidebar-genre">Genre</div>
      </div>
      <div class="sidebar-music">
        song photo goes here
        <!-- <img src="../public/images/ab67616d0000b273937af329667311f4b2831616.jpg" -->
      </div>
    </div>

    <div class="header">
      <button id="searchButton">Search</button>

      <button id="profile-btn" class="round-button">
        <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512">
          <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
      </button>
    </div>

    <div class="main-content">
      <div class="songs">
        <h2>Songs You Might Like</h2>
        <div class="list">
          <% for(const row of results) { %>
            <div class="item playable" id="<%=row.idMusik%>">
              <% if (row.cover) { %>
                <div  class="discoverSongs" >
                  <img src="data:image/jpeg;base64,<%= row.cover.toString('base64') %>" alt="">
                </div>
                <% } %>
                <span id="songsTitle"><%= row.judul %></span>

                  <span id="songsArtis"><%= row.artis %></span>
            </div>
            <% } %>
        </div>
      </div>
      <div class="songs">
        <h2>Songs You Might Like</h2>
        <div class="list">
          <% for(const row of results) { %>
            <div class="item playable" id="<%=row.idMusik%>">
              <% if (row.cover) { %>
                <div  class="discoverSongs" >
                  <img src="data:image/jpeg;base64,<%= row.cover.toString('base64') %>" alt="">
                </div>
                <% } %>
                <span id="songsTitle"><%= row.judul %></span>

                  <span id="songsArtis"><%= row.artis %></span>
            </div>
            <% } %>
        </div>
      </div>
 ]
      <!-- Daftar lagu dan foto album -->
    </div>



    <div class="bottom-bar">
      <div class="song-info">
        <span>Title</span> <br />
        <span>Artist</span>
      </div>
      <div class="playback-controls">
        <button class="round-button" id="prevButton">
          <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 512 512">
          <path d="M459.5 440.6c9.5 7.9 22.8 9.7 34.1 4.4s18.4-16.6 18.4-29V96c0-12.4-7.2-23.7-18.4-29s-24.5-3.6-34.1 4.4L288 214.3V256v41.7L459.5 440.6zM256 352V256 128 96c0-12.4-7.2-23.7-18.4-29s-24.5-3.6-34.1 4.4l-192 160C4.2 237.5 0 246.5 0 256s4.2 18.5 11.5 24.6l192 160c9.5 7.9 22.8 9.7 34.1 4.4s18.4-16.6 18.4-29V352z"/></svg>
        </button>
        <button class="round-button" id="playButton">
          <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 384 512">
            <path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"/></svg>
        </button>
        <button class="round-button" id="pauseButton">
          <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 320 512">
            <path d="M48 64C21.5 64 0 85.5 0 112V400c0 26.5 21.5 48 48 48H80c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48H48zm192 0c-26.5 0-48 21.5-48 48V400c0 26.5 21.5 48 48 48h32c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48H240z"/></svg>
        </button>
        <button class="round-button" id="nextButton">
          <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 512 512">
            <path d="M52.5 440.6c-9.5 7.9-22.8 9.7-34.1 4.4S0 428.4 0 416V96C0 83.6 7.2 72.3 18.4 67s24.5-3.6 34.1 4.4L224 214.3V256v41.7L52.5 440.6zM256 352V256 128 96c0-12.4 7.2-23.7 18.4-29s24.5-3.6 34.1 4.4l192 160c7.3 6.1 11.5 15.1 11.5 24.6s-4.2 18.5-11.5 24.6l-192 160c-9.5 7.9-22.8 9.7-34.1 4.4s-18.4-16.6-18.4-29V352z"/></svg>
        </button>
      </div>

      <div class="slider-bar">
        <div class="slider-bar-progress"></div>
      </div>

      <button id="premium-button" class="button">Go Premium</button>
    </div>
  </div>

  <!-- Go Premium pop-up -->

  <div id="premiumPopup" class="hidden">
    <div id="premiumForm">
      <h1>Premium plan</h1>
      <h2>Just like the free plan, but much better</h2>
      <h3>Fill this form to apply, cancel anytime</h3>

      <form method="post" action="/applypremium">
        <label class="form-text" for="fullName">Full name</label>
        <input class="form-box" type="text" id="fullName" name="fullName" /><br /><br />

        <label class="form-text" for="address">Address</label>
        <input class="form-box" type="text" id="address" name="address" /><br /><br />

        <label class="form-text" for="cardNumber">Card number</label>
        <input class="form-box" type="text" id="fullName" name="fullName" /><br /><br />

        <label class="form-text" for="package">Package</label><br />
        <div class="form-box">
          <input type="radio" id="1month" name="package" value="1 month" />
          <label for="1month">1 month</label><br />

          <input type="radio" id="3months" name="package" value="3 months" />
          <label for="3months">3 months</label><br />

          <input type="radio" id="6months" name="package" value="6 months" />
          <label for="6months">6 months</label><br />

          <input type="radio" id="1year" name="package" value="1 year" />
          <label for="1year">1 year</label><br /><br />
        </div>

        <input class="button" id="applyButton" type="submit" value="Apply Now" />
        <button type="button" class="button" id="cancelButton">Cancel</button>
      </form>
    </div>
    <img src="/assets/images/Premium-banner.jpg" id="premium-banner" alt="" />
  </div>

  <!--buat logout-->
  <div id="logOutPopup" class="hidden">
    <div id="photo-profile-container">
      <% if(image) { %>
        <img id="photo-profile" src="data:image/jpeg;base64,<%= image.toString('base64') %>" />
        <% } %>
    </div>

   
    <h1>Hi there, <%= name %> </h1>


        <form action="/logout" method="post">
          <input id="logOutButton" class="button" type="submit" value="Log out" />
        </form>

  </div>

  <!-- seach popup -->
  <div id="searchPopup" class="hidden">
    <input type="text" id="searchInput" placeholder="Search" />
    <button id="searchCloseButton" class="button">Close</button>

    <ul id="searchResults"></ul>
    <!-- lagu lagunya -->
  </div>

  <audio controls id="musicPlayer" class="hidden">
    <source src="/assets/Music/LastFridayNight.mp3" />
  </audio>
</body>
</html>