<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>MySpotiti</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
  <link rel="stylesheet" href="styleMain.css" />
  <script src="scriptAdmin.js" defer></script>
</head>

<body>
  <div id="whole-page-notuser">
    <div class="sidebar-notuser">
      <img src="/assets/images/MySpotitiLogoWithext.png" id="sidebar-logo" alt="" />
      <div id="sidebar-text">

        <div class="sidebar-text" id="Admin-sidebar-overview">Overview</div>
        <div class="sidebar-text" id="Admin-sidebar-songs">Songs</div>

        <div class="sidebar-text" id="Admin-sidebar-subgenre"
          style="color: #F5833F; font-weight: bold;transform: scale(1.1)">Sub Genre</div>
        <div class="sidebar-text" id="sidebar-genre">Genre</div>
      </div>
    </div>
    <div class="header-notuser">


      <button id="profile-btn" class="round-button-notuser">
        <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512">
          <path
            d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" />
        </svg>
      </button>
    </div>
    <div class="admintable">
      <div class="admintable-header">
        <h1 class="admintable-header-headline">Sub Genre Overview</h1>
        <div class="pagination-row">
          <h1 class="pagination-headline">Page view:</h1>

          <% for (let i=1; i <=pageCount; i++) { %>
            <a class="button" id="pagination" href="/subgenreAdmin?page=<%= i %>">
              <%= i %>
            </a>
            <% } %>
        </div>
        <button class="button" id="addButton"> Add data</button>

        <input class="admin-searchbar" id="admin-searchbar-sub" type="text" placeholder="Search" />
        <div class="filter">
          Filter by:
          <form action="/subgenreAdmin" method="get">
            <select class="filtering" name="optFilter">
              <option value="genre">Genre</option>
              <option value="subgenre">Sub Genre</option>
            </select>
            is a
            <input class="filtering" type="text" placeholder="type here" name="filterVal"></input>
            <button class="button" id="go-button">GO</button>
          </form>
        </div>
      </div>

      <div class="admintable-result">
        <table class="admintable-result-table">
          <thead>
            <tr>
              <th id="admintable-resultsub-id">ID</th>
              <th id="admintable-resultsub-sub">Sub genre</th>
              <th id="admintable-resultsub-genre">Genre</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="song-table-body">
            <% if (results.length===0) { %>
              <tr>
                <td colspan="4">No results found</td>
              </tr>
              <% } else { %>
                <% results.forEach((sub)=> { %>
                  <tr id="<%= sub.idSubGenre %>">
                    <td id="admintable-resultsub-id">
                      <%= sub.idSubGenre %>
                    </td>
                    <td id="admintable-resultsub-sub">
                      <%= sub.nama %>
                    </td>
                    <td id="admintable-resultsub-genre">
                      <%= sub.namaGenre %>
                    </td>
                    <td id="action">
                      <!-- edit button -->
                      <button class="pencil-button button" style="
                      height:10%; width:30%;" data-subgenre-id="<%= sub.idSubGenre %>">
                        Edit
                      </button>
                      <!-- delete button -->
                      <button class="trash-button button" style="
                      height:10%; width:30%;" data-subgenre-id="<%= sub.idSubGenre %>">
                        Delete
                      </button>
                    </td>
                  </tr>
                  <% }); %>
                    <% } %>
          </tbody>
        </table>
      </div>
      <script>
        function formatDate(dateString) {
          const date = new Date(dateString);
          const options = { year: 'numeric', month: 'short', day: '2-digit' };
          return date.toLocaleDateString('en-US', options);
        }
      </script>


    </div>
  </div>


  </div>
  <!-- add data popup -->
  <div id="addDataPopUp" class="hidden">
    <div id="premiumForm">
      <div id=premiumHeader>
        <h1>Add data</h1>
        <button id="cancelButton" class="round-button">
          <svg xmlns="http://www.w3.org/2000/svg" height="1em"
            viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z" />
          </svg>
        </button>
      </div>

      <form method="post" action="/addSubgenre" id="premiumtheForm" enctype="multipart/form-data">
        <label for="subgenre">Sub Genre</label>
        <input class="form-box" type="text" id="subgenre" name="subgenre" />

        <label for="genre">Genre</label>
        <select class="form-box" name="genre">
          <% for (let i=0; i < namaGenre.length; i++) { %>
            <option value="<%= namaGenre[i].nama %>">
              <%= namaGenre[i].nama %>
            </option>
            <% } %>
        </select>
        <label for="subgenreCover">Sub Genre cover</label>
        <div class="form-box">
          <input type="file" name="subgenreCover"><br>
        </div>

        <input class="button" id="add-button-in-popup" type="submit" value="add" />
      </form>


    </div>
  </div>
  <!-- update data popup -->
  <div id="updateDataPopUp" class="hidden">
    <div id="premiumForm">
      <div id=premiumHeader>
        <h1>Update data</h1>
        <button id="cancelButton-in-update-popup" class="round-button">
          <svg xmlns="http://www.w3.org/2000/svg" height="1em"
            viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z" />
          </svg>
        </button>
      </div>

      <form method="post" action="/updateSubgenre" id="premiumtheForm" enctype="multipart/form-data">

        <input type="hidden" name="idSubgenre" id="idSubgenre">

        <label for="namaSubgenre">Nama Subgenre</label>
        <input class="form-box" type="text" id="namaSubgenre" name="namaSubgenre" />

        <label for="genre">Genre</label>
        <select class="form-box" name="genre">
          <% for (let i=0; i < namaGenre.length; i++) { %>
            <option value="<%= namaGenre[i].nama %>">
              <%= namaGenre[i].nama %>
            </option>
            <% } %>
              <!-- dropdown sub genre, optionny dari table subgenre -->
        </select>
        <label for="subgenreCover">Songs cover</label>
        <div class="form-box">
          <input type="file" name="subgenreCover"><br>
        </div>

        <input class="button" id="add-button-in-popup" type="submit" value="Update" />
      </form>


    </div>
  </div>


  <!--buat logout-->
  <div id="logOutPopup" class="hidden">
    <div id="photo-profile-container">
      <% if(image) { %>
        <img id="photo-profile" src="data:image/jpeg;base64,<%= image.toString('base64') %>" />
        <% } %>
    </div>


    <h1>Hi there, <%= name %>
    </h1>


    <form action="/logout" method="post">
      <input id="logOutButton" class="button" type="submit" value="Log out" />
    </form>

  </div>
  <script>
    let searchSub = document.getElementById('admin-searchbar-sub');
    searchSub.addEventListener('input', async () => {
      const searchValue = searchSub.value.trim().toLowerCase();
      if (searchValue !== "") {
        console.log("tes")
        performSearchSubgenre(searchValue);
      }
    });
    document.getElementById("cancelButton").addEventListener("click", function () {
      document.getElementById("addDataPopUp").classList.add("hidden");
    });

    document.getElementById("cancelButton-in-update-popup").addEventListener("click", function () {
      document.getElementById("updateDataPopUp").classList.add("hidden");
    });

    const buttons = document.querySelectorAll('.pencil-button');
    buttons.forEach(button => {
      button.addEventListener('click', (event) => {
        document.getElementById('updateDataPopUp').classList.toggle("hidden");
        const idSubgenre = event.target.getAttribute('data-subgenre-id'); // Updated attribute name
        console.log(idSubgenre);
        // Mengisi nilai input tersembunyi dengan idMusik dan idSubgenre
        const hiddenInputIdSubgenre = document.getElementById('idSubgenre');
        hiddenInputIdSubgenre.value = idSubgenre;
      });
    });


  </script>
</body>

</html>